:root {
    /*  theme */
    --background: #444444;
    --primary: #aa123d;
    --secondary: #ff6c96;
    --font-color: white;
    --posts-bg: #000000;
    --post-bg-selected: #181818;
    /* images*/
    --test-img: url('../assets/images/test.png');
}