:root {
    /*  theme */
    --background: #212121;
    --primary: #aa123d;
    --secondary: #ff6c96;
    --font-color: white;
    --posts-bg: #000000;
    --primary-hover: #8a0e31;
    --info-section-background: #47454580;
    /* images*/
    --back-icon: url('../assets/images/back.svg');
    --logo: url('../assets/images/star-wars-logo.png');
}