@import url(declarations.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--background);
}

img{
    display: block;
    max-width: 100%; 
 }

 section{
    height: 50%;
    width: 100%;
}

#info {
    background-color: #4444448e;
    padding: 2%;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.container {
    width:100%;
    height: 100%;
    padding: 2%;
    overflow-x: hidden;
}

.sub-container {
    border: 1px solid var(--primary);
    padding: 2%;
    overflow: auto;
}
.title {
    color: var(--font-color);
    text-transform: uppercase;
}

/* scroll bar design */
.scroll-bar::-webkit-scrollbar {
    width: 5px;
}
/* Track */
.scroll-bar::-webkit-scrollbar-track {
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
/* Handle */
.scroll-bar::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #EDEDED;
}
.scroll-bar::-webkit-scrollbar-thumb:hover {
    background: #d1d1d1;
}
.posts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}
.post {
    background-color: var(--posts-bg);
    color: var(--font-color);
    scale: .9;
    padding: 2%;
    border: 1px solid var(--secondary);
    border-radius: 25px;
    display: flex;
    flex-flow: column nowrap;
    transition-timing-function: ease-out;
    transition: 0.25s;
    width: 250px;
    height: 350px;
    text-decoration: none;
}

.post:hover{
    background-color: var(--post-bg-selected);
    scale: 1;
    transition-timing-function: ease-in;
    transition: 0.25s;
    cursor: pointer;
}

.post-img {
    height: 100%;
    width: 100%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}


