@import url(declarations.css);

body {
    margin: 0px;
    height: 1070px;
    width: 1910px;
    background-color: var(--background);
}
.container {
    display: grid;
    grid-auto-rows: minmax(10px, auto);
    grid-auto-columns: repeat(3, 1fr);
    gap: 20px;
    width:100%;
    height: 100%;
}
.header {
    grid-row: 1;
    grid-column: 1 / 4;
    border: 1px solid var(--secondary);
    color: var(--primary);
    background-color: var(--header);
}

.side-nav {
    grid-row: 2 / 5;
    grid-column: 1;
    border: 1px solid var(--secondary);
    color: var(--primary);
}

.content {
    grid-row: 2 / 5;
    grid-column: 2 / 4;
    border: 1px solid var(--secondary);
    color: var(--primary);
}