@import url(declarations.css);

* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    height: 100vh;
    width:  100vw;
    background-color: var(--background);
}
.container {
    display: grid;
    grid-auto-rows: minmax(10px, auto);
    grid-auto-columns: repeat(3, 1fr);
    gap: 20px;
    width:100%;
    height: 100%;
    padding: 20px;
}

.sub-container {
    border: 1px solid var(--primary);
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.title {
    color: var(--font-color);
    text-transform: uppercase;
}
#header {
    grid-row: 1;
    grid-column: 1 / 4;
}

#side-nav {
    grid-row: 2 / 5;
    grid-column: 1;
    padding: 2%;
}

#content {
    grid-row: 2 / 5;
    grid-column: 2 / 4;
}
.post {
    background-color: var(--posts-bg);
    color: var(--font-color);
    margin: 1%;
    padding: 1%;
    border: 1px solid var(--secondary);
    border-radius: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.post-img {
    height: 80px;
    width: 80px;
}

section {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
